html{
	/* Set height of the html page to 100% of the browser height */
	height: 100%;
	/* Hide horizontal scroll */
	overflow-x: hidden;
	font-family: 'Helvetica', sans-serif;
}

body{
	/* Set height of the body to 100% -- separated out of html to allow scrollTo animation */
	height: 100%;
	margin: 0px;
}

/*
Navigation Bar
*/
#nav{
	/* Fix navigation bar at the top middle of the web page */
    position: fixed;
    /* calc() CSS function calculates numbers of different units */
    left: calc(50% - 50px);
    top: 20px;
    /* Display nav bar on top of everything else */
    z-index: 1;
}

.nav-btn{
	width: 20px;
    height: 20px;
    /* Make square div into a circle */
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
    /* transition changes in background-color */
    transition: background-color 0.5s;
}

/* When a nav-btn is hovered on, set background-color to black */
.nav-btn:hover{
	background-color: black;
}

/*
pink Div
*/
#pink-div{
	/* Fix pink div in the bottom left corner of the web page */
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 300px;
	text-align: center;
}

#pink{
	width: 300px;
	margin-top: 18px;
}

#pink-text{
	color: grey;
	background-color: white;
	font-size: 20px;
}

/*
Parallax: Image1, Image2, Image3, and Image4 sections;
*/
#image1, #image2, #image3, #image4{
	/* Set height of div to 100% */
	height: 100%;
	/* The bottom three background CSS settings create parallax effect */
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

#image1{
	/* Set background image of Image1 section using url() function */
	background-image: url('img/image1.webp');
}

#image2{
	/* Set background image of Image2 section using url() function */
	background-image: url('img/image2.webp');
}

#image3{
	/* Set background image of Image3 section using url() function */
	background-image: url('img/image3.webp');
}

#image4{
	/* Set background image of Image4 section using url() function */
	background-image: url('img/image4.webp');
}

/*
blue div inside Image1 section
*/
#blue-div{
    position: relative;
    width: 150px;
    text-align: center;
    top: calc(100% - 300px);
    left: calc(50% - 75px);
}

#blue{
	width: 150px;
	margin-top: 25px;
}

#blue-text{
	color: grey;
	background-color: white;
	font-size: 20px;

}

/*
yellow div inside image2, image3, and image4 section
*/
#yellow-div{
    position: relative;
    width: 180px;
    text-align: center;
    left: calc(50% - 90px);
}

#yellow-text{
	color: grey;
	background-color: white;
	font-size: 20px;
}

#yellow{
    width: 120px;
    display: block;
    margin: auto;
    transform: rotate(-10deg);
}

/*
Text sections after Image1, Image2, Image3, and Image4 sections
*/
.text-section{
	/* Center text in the middle of browser using flexbox */
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text{
	width: 70%;
	color: grey;
	background-color: white;
	font-size: 30px;
	text-align: center;

}
