/* the html element that we want to affect */

/* Background image, margin, and font for website */

body{
  background-image: url("images/background.jpg");
  margin: 0 5px;
  font-family: verdana;
}

/* Header */

.topnav {
  overflow: hidden;
  background-color: beige;
}

.topnav a {
  float: left;
  color: #D3D3D3;
  text-transform: uppercase;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

.topnav a:hover {
  background-color: beige;
  color: grey;
}

.topnav a.active {
  background-color: beige;
  color: grey;
}

/* page border */

#whitebox {
  border: none;
  padding: 10px;
  background: beige;
  background-clip: border-box;
}

/* first page title */

#first-heading{
  font-size: 200px;
  color: #A9957B;
  text-align: center;
  font-family: sans-serif;
}

/* second page title */

#second-heading{
    color: #A9957B;
    text-align: center;
    font-family: sans-serif;
    font-size: 100px;
}

/* third page title */

#third-heading{
    color: #A9957B;
    text-align: center;
    font-family: sans-serif;
    font-size: 100px;
}

/* fourth page title */

#fourth-heading{
    color: #A9957B;
    text-align: center;
    font-family: sans-serif;
    font-size: 100px;
}

/* second page descriptions */

#second-body1{
    color: grey;
    font-family: verdana;
    font-size: 25px;
}

#second-body2{
    color: grey;
    font-family: verdana;
    font-size: 25px;
}

#second-body3{
    color: grey;
    font-family: verdana;
    font-size: 25px;
}

#second-body4{
    color: grey;
    font-family: verdana;
    font-size: 25px;
}

#second-body5{
    color: grey;
    font-family: verdana;
    font-size: 25px;
}

/* third page credit description */

#third-body{
    color: grey;
    font-family: verdana;
    font-size: 20px;
}

/* fourth page credits sub-title and bullet points */

#bullet-zero{
    color: grey;
    font-family: verdana;
    font-size: 30px;
}

#bullet-one{
    color: grey;
    font-family: verdana;
    font-size: 20px;
}

#bullet-two{
    color: grey;
    font-family: verdana;
    font-size: 20px;
}

#bullet-three{
    color: grey;
    font-family: verdana;
    font-size: 20px;
}

#bullet-four{
    color: #A9957B;
    text-align: center;
    font-family: verdana;
    font-size: 50px;
}

/* Interactive button */


.button {
  font-family: verdana;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  color: #A9957B;
  background-color: beige;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: grey}

.button:active {
  background-color: grey;
  box-shadow: 0 5px #666;
  transform: translateY(5px);}
